{% extends 'index.html' %}

{% block head %}
<style>
#photometry {
    width: 1200px;
    height: 688px;
}
</style>

<script src='{{ target['target_name'] }}/photometry.js'></script>

<script>

$(document).ready(function() {
    var layout = {
        title: '{{ target['target_name'] }}',
        xaxis: {
            title: 'MJD',
            tickformat: '.1f',
        },
        yaxis: {
            title: 'Magnitude',
            autorange: 'reversed',
        },
        paper_bgcolor: '#d5d5d5',
        hovermode:'closest',
    };

    Plotly.newPlot('photometry', photometry, layout)

    document.getElementById('photometry').on('plotly_click', function(data){
        var id = "fileid_" + data.points[0].text.slice(8);
        $('html, body').animate({
            scrollTop: $("#" + id).offset().top,
        }, 1000, function(){
            $("#" + id).animate({
                backgroundColor: "white",
            }, 500, function(){
                $("#" + id).animate({
                    backgroundColor: "#d5d5d5",
                }, 500);
            });
        });
    });

    $("div.file").hover(function(){
        $(this).stop();
        $(this).css('background-color', 'silver');
    }, function(){
        $(this).css('background-color', '#d5d5d5');
    });
    $("div.file").click(function(){
        window.location.href = '/{{ target['target_name'] }}/' + $(this).attr("id").slice(7)
    });
});
</script>
{% endblock %}

{% block title %}
<span style="cursor: pointer;" onclick="window.location.href='/';">flows.localweb</span> /
<span>{{ target['target_name'] }}</span>
{% endblock %}

{% block body %}
<div id='photometry'></div>

<div style="height: 20px;"></div>

<div style="width: 100%; background-color: #d5d5d5; font-weight: bold; font-size: 16px; padding: 5px 0px; display: flex; border-bottom: solid 1px black;">
<div style="width: 32%; margin: auto 0px;"><div style="margin: auto 10px; margin-left: 20px; overflow: hidden;">File name</div></div>
<div style="width: 8%; margin: auto 0px;"><div style="margin: auto 10px; overflow: hidden;">File ID</div></div>
<div style="width: 16%; margin: auto 0px;"><div style="margin: auto 10px; overflow: hidden;">Site</div></div>
<div style="width: 8%; margin: auto 0px;"><div style="margin: auto 10px; overflow: hidden;">Obstime</div></div>
<div style="width: 8%; margin: auto 0px;"><div style="margin: auto 10px; overflow: hidden;">Filter</div></div>
<div style="width: 10%; margin: auto 0px;"><div style="margin: auto 10px; overflow: hidden;">Exp. time</div></div>
<div style="width: 18%; margin: auto 0px;"><div style="margin: auto 10px; overflow: hidden;">Inserted</div></div>
</div>

{% for datafile in datafiles %}
<div id="fileid_{{ datafile['fileid'] }}"{% if datafile['is_local'] %} class="file"{% endif %} style="width: 100%; background-color: #d5d5d5; padding: 1px 0px; display: flex; border-bottom: solid 1px white;{% if datafile['is_local'] %} cursor: pointer; color: {% if datafile['has_phot'] %}#000000{% else %}#b0b000{% endif %};{% else %} color: #b00000;{% endif %}">
<div style="width: 32%; margin: auto 0px;"><div style="margin: auto 15px; white-space: nowrap; margin-left: 25px; overflow: hidden;">{{ datafile['filename'] }}</div></div>
<div style="width: 8%; margin: auto 0px;"><div style="margin: auto 15px; white-space: nowrap; overflow: hidden;">{{ datafile['fileid'] }}</div></div>
<div style="width: 16%; margin: auto 0px;"><div style="margin: auto 15px; white-space: nowrap; overflow: hidden;">{{ datafile['sitename'] }}</div></div>
<div style="width: 8%; margin: auto 0px;"><div style="margin: auto 15px; white-space: nowrap; overflow: hidden;">{{ datafile['obstime'] }}</div></div>
<div style="width: 8%; margin: auto 0px;"><div style="margin: auto 15px; white-space: nowrap; overflow: hidden;">{{ datafile['photfilter'] }}</div></div>
<div style="width: 10%; margin: auto 0px;"><div style="margin: auto 15px; white-space: nowrap; overflow: hidden;">{{ datafile['exptime'] }}</div></div>
<div style="width: 18%; margin: auto 0px;"><div style="margin: auto 15px; white-space: nowrap; overflow: hidden;">{{ datafile['inserted'] }}</div></div>
</div>
{% endfor %}

{% endblock %}
